/* 탭메뉴 꾸미기 */
.tab{
  border-bottom: 1px solid #a0a0a0;
}

.tabnav{
  width: 430px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.tabnav a{ 
  display: block;
  padding: 100px 20px 20px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  color: #a0a0a0;
  position: relative;
  z-index: 2;
}

/* 탭메뉴 클릭했을 때 변화 꾸미기 */
.tabnav .active{
  border-bottom: 3px solid #e7685d;
  color: #e7685d;
}
.tabnav a:hover{
  color: #e7685d; 
}

/* 탭컨테츠 꾸미기 */
.tabcontent{
  padding: 20px; 
  overflow: hidden;
  border-top: 1px solid #a0a0a0; 
  position: relative;
  top: -1px;
}
