@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "Creattion Demo"; src: url("https://db.onlinewebfonts.com/t/ce1c2267ee1f9b1143c5976e65867c19.eot"); src: url("https://db.onlinewebfonts.com/t/ce1c2267ee1f9b1143c5976e65867c19.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/ce1c2267ee1f9b1143c5976e65867c19.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/ce1c2267ee1f9b1143c5976e65867c19.woff") format("woff"), url("https://db.onlinewebfonts.com/t/ce1c2267ee1f9b1143c5976e65867c19.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/ce1c2267ee1f9b1143c5976e65867c19.svg#Creattion Demo") format("svg"); }
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #231f20;
}
body{
    font-family: 'GmarketSansLight', 'GmarketSansMedium', 'GmarketSansBold', 'Dawning of a New Day';
    font-size: 18px;
    line-height: 150%;
    min-width: 1600px;
}
