*{
    margin: 0; padding: 0;
}
body{
    background: url(../images/recipe/event_bg_bottom_right.png) no-repeat right bottom 300px;
}

#fxbg{
    background: url(../images/fixed_bg/recipe.jpg) no-repeat center top;
    width: 100%;
    height: 400px;
    top: 120px;
    left: 0;
    border-bottom: 1px solid #8b5e3c;
}

#textarea{
    width: 1320px;
    height: 430px;
    margin: auto;
    box-sizing: border-box;
    padding: 90px 0;
    text-align: center;
    background-color: #fff;
}
#textarea h1{
    font-family: 'GmarketSansBold';
    font-size: 48px;
    color: #8b5e3c;
}
#textarea img{
    display: block;
    margin: auto;
    padding: 80px 0;
}
#textarea p{
    font-family: 'GmarketSansMedium';
    color: #8b5e3c;
}

/* popular recipe */
#popular{
    background: url(../images/recipe/recommend_bg.jpg) no-repeat center top;
}
.pop_inner{
    width: 1320px;
    height: 633px;
    box-sizing: border-box;
    margin: auto;
    padding: 50px 0;
    text-align: center;
}
.pop_inner h2{
    font-family: 'GmarketSansBold';
    font-size: 30px;
    color: #8b5e3c;
    padding-bottom: 50px;
}
.recommend{
    display: flex;
    justify-content: space-between;
}
.recommend li{
    width: 340px;
    height: 417px;
    border-radius: 0 0 200px 200px;
    background: #8b5e3c;
    box-sizing: border-box;
    padding: 70px 0;
    position: relative;
}
.recommend li a{
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
}
.recommend li a h3{
    font-family: 'GmarketSansBold';
    font-size: 30px;
    padding: 30px 0;
}
.recommend li a p{
    font-size: 16px;
}
.recommend li> a> img{
    display: block;
    margin: auto;
    filter: brightness(50%);
}
.recommend img{
    transition: all .6s;
}
.hoverbox{
    width: 100%;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -170px;
    transition: all .6s;
}
.hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.recommend li:hover .cross{
    transform: rotate(180deg);
}
.recommend li:hover .hover{
    opacity: 1;
}
.recommend li:hover .hoverbox{
    transform: translateY(30px);
}
/* 비디오필터&갤러리 */
#recipe_vids{
    width: 1320px;
    height: max-content;
    margin: auto;
}
.search{
    font-family: 'GmarketSansBold';
    font-size: 16px;
    color: #8b5e3c;
    padding-right: 20px;
}
#search{
    width: 550px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 30px;
    margin: 50px 0;
    border: 1px solid #8b5e3c;
    border-radius: 50px;
}
form{
    position: relative;
}
input[type="submit"]{
    width: 25px;
    height: 29px;
    position: absolute;
    top: 60px;
    left: 570px;
    background: url(../images/search_hover.png) no-repeat center center;
    background-size: 60%;
    border: none;
    cursor: pointer;
}
input[type="submit"]:focus{
    outline: none;
}
/* 검색창 x버튼 없애기 */
    /* IE의 경우 */
    input::-ms-clear,
    input::-ms-reveal{
        display:none;
    }
    /* 크롬의 경우 */
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration{
        display:none;
    }
#search:focus{
    outline: none;
}

/* top버튼 */
.top{
    padding: 20px;
    font-size: 14px;
    border-radius: 50%;
    position:fixed; 
    bottom: 100px; 
    right:50px; 
    display:none;
    background-color: rgba(139, 94, 60, 0.8);
    color: #fff;
    font-family: 'GmarketSansMedium';
    z-index: 10;
  }

/* footer */
#footer{
    margin-top: 100px;
}