@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #231f20;
}
body{
    font-family: 'GmarketSansLight', 'GmarketSansMedium', 'GmarketSansBold', 'Dawning of a New Day';
    font-size: 18px;
    line-height: 150%;
    background: url(../images/leaf_bg2.png) no-repeat left 4200px;
}

/* main page */
/* header */
#header{
    background: url(../images/header.jpg);
    width: 100%;
    height: 120px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    position: relative;
    z-index: 99;
}
.header_inner{
    width: 1320px;
    height: 100%;
    margin: auto;
}

.logo{
    float: left;
    margin: 20px 60px 0px 0;
}
.nav{
    float: left;
    width: 50%;
    height: 100%;
}
.nav> li{
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 35px;
}
.nav> li> a{
    display: block;
    font-family: 'GmarketSansMedium';
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
}
.nav> li> a:hover{
    color: #fff;
    background: url(../images/menu_hover_tag.png) no-repeat;
    background-position: center top -1px;
    background-size: contain;
}
.link{
    float: right;
    margin-top: 50px;
}
.link li{
    float: left;
    margin-left: 15px;
    position: relative;
}
.link img{
    width: 60%;
}
.link_hover{
    display: none;
}
.link li a:hover .link_hover{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.sub{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(../images/sub_bg.png) no-repeat 90% 30px;
    background-size: 15%;
    background-color: #3c241593;
    box-sizing: border-box;
    padding: 50px 0;
    display: none;
}
.sub_inner{
    width: 1005px;
    margin: auto;
}
.sub_menu{
    float: left;
    margin-right: 60px;
}
.sub_menu li a{
    display: block;
    padding-bottom: 20px;
    color: #fff;
}
.sub_menu li a:hover{
    font-family: 'GmarketSansMedium';
}


/* main banner */
#slide{
    width: 100%;
    margin-bottom: 100px;
}

/* best cakes */
#best{
    width: 100%;
    height: 800px;
    background: url(../images/best_cake_background.png) no-repeat center center;
}
#best h1{
    text-align: center;
    font-size: 30px;
    font-family: 'GmarketSansBold';
    color: #e7685d;
    padding: 10px;
}
#best> p{
    text-align: center;
    padding: 30px 0 70px;
}
.best_inner{
    width: 1320px;
    margin: auto;
}
#best dl{
    float: left;
    width: 33.33%;
    text-align: center;
}
#best dt{
    font-size: 24px;
    font-family: 'GmarketSansMedium';
}
#best dd{
    position: relative;
}
#best dd p{
    font-size: 14px;
    padding: 5px 0;
}
#best dl del{
    font-size: 12px;
}
.sale_price{
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    color: #e7685d;
}
.bestimg{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 371px;
    height: 416px;
    border-radius: 0 0 500px 500px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    overflow: hidden;
}
.bestimg img{
    transition: all .5s;
}
.cake_shadow{
    width: 371px;
    height: 416px;
    background-color: #c49a6c6c;
    border-radius: 0 0 500px 500px;
    position: absolute;
    top: 100px;
    left: 60px;
}
.options{
    background-color: #3c2415cb;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 350px;
    padding: 20px 0 15px;
    border-radius: 50px;
    display: none;
}
.options a{
    color: #fff;
}
.options> a:nth-child(3){
    display: inline-block;
    padding: 0 10px;
}
.options img{
    width: 15px;
}
/* todetails는 dl 자식 a태그 */
#best dd:hover img{
    transform: scale(1.1);
}
#best dd:hover .options{
    display: block;
}

/* brand introduction */
#bi{
    background: url(../images/brand_intro.jpg) no-repeat center center;
}
.bi_inner{
    width: 1320px;
    height: 800px;
    box-sizing: border-box;
    margin: auto;
    box-sizing: border-box;
    padding: 100px 0;
    position: relative;
}
.bi_inner h2{
    color: #8b5e3c;
    font-family: 'GmarketSansBold';
    font-size: 40px;
    padding-bottom: 25px;
}
.bi_inner h3{
    color: #8b5e3c;
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 50px;
}
.bi_inner p:nth-child(3){
    padding-bottom: 20px;
}
.brandinfo{
    display: block;
    float: left;
    margin: 100px 0 0 110px;
}
.circle{
    position: absolute;
    top: 20px;
    left: 440px;
    animation: circle 15s linear infinite;
}
@keyframes circle{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.bi_inner a{
    display: block;
    color: #fff;
    background-color: rgba(139, 94, 60, 0.6);
    padding: 40px 70px;
    float: right;
    margin-top: 300px;
    transition: all .5s;
}
.bi_inner a:hover{
    background-color: #8b5e3c;
}

/* review */
#review{
    background: url(../images/leaf_bg.png) no-repeat right bottom;
    
}
.rv_inner{
    clear: both;
    width: 1320px;
    height: 820px;
    margin: auto;
    text-align: right;
}

.rv_inner table{
    width: 100%;
    table-layout: fixed;
}
.rv_inner table td{
    position: relative;
}
.rv_inner table img{
    display: inline-block;
}
.right{
    text-align: right;
}
.left{
    color: #e7685d;
    text-align: left;
}
.title{
    font-family: 'GmarketSansBold';
    padding-bottom: 25px;
    text-transform: uppercase;
}
.title.right{
    color: #21ba7e;
}
.exp{
    padding-bottom: 35px;
}
.reviewhoverbox{
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    text-align: left;
    color: #fff;
    opacity: 0;
    transition: all 1s;
    overflow: hidden;
    position: relative;
}
.reviewhoverbox h3{
    font-size: 1em;
}
.reviewhoverbox p{
    font-size: .8em;
    line-height: 130%;
    padding-top: 20px;
}
.heart{
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-indent: 10px;
}
.id{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.reviewhover1{
    width: 538px;
    height: 335px;
    position: absolute;
    top: 4px;
    right: 0;
}
.reviewhover2{
    width: 204px;
    height: 335px;
    position: absolute;
    top: 4px;
    right: 0;
}
.reviewhover3{
    width: 204px;
    height: 168px;
    position: absolute;
    top: 7px;
    right: 0;
}
.reviewhover4{
    width: 315px;
    height: 560px;
    position: absolute;
    top: 0;
    right: 0;
}
.reviewhover5{
    width: 204px;
    height: 141px;
    position: absolute;
    top: 5px;
    right: 0;
}
.reviewhover6{
    width: 204px;
    height: 200px;
    position: absolute;
    top: 3px;
    right: 0;
}
.reviewhover7{
    width: 427px;
    height: 200px;
    position: absolute;
    top: 3px;
    right: 0;
}
.reviewhover8{
    width: 315px;
    height: 200px;
    position: absolute;
    top: 3px;
    right: 0;
}
#review table td:hover .reviewhoverbox{
    opacity: 1;
}

/* recipe */
#recipe{
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.recipe_inner{
    width: 1320px;
    margin: 10px auto;
    position: relative;
}
.tab{
    overflow: hidden;
  }
.tabnav{
    overflow: hidden;
    padding-bottom: 30px;
    float: left;
}
.tabnav li{
    float: left;
}
.tabnav li a{
    display: block;
    border-radius: 50px;
    border: 1px solid #e7685d;
    padding: 13px 20px 10px;
    margin-right: 15px;
    color: #e7685d;
}
.tabnav li a:hover, .tabnav li a.active{
    background-color: #e7685d;
    color: #fff;
    font-weight: bold;
}

.viewmore{
    display: block;
    float: left;
    margin-left: 49%;
    padding: 13px 0 10px;
    position: relative;
}
.viewmore::after{
    position: absolute; 
    content:''; 
    display: block; 
    border-bottom: 1px solid #231f20; 
    transition: width 250ms ease-out; 
    bottom: 0;
    left: auto; 
    right: 0;  
    width: 0;
}
.viewmore:hover::after{
    width: 100%; 
    left: 0; 
    right: auto;
}
.tabcontent{
    clear: both;
    width: 2100px;
    position: absolute;
    left: 0;
    top: 140px;
}
.regular img{
    display: block;
    width: 627px;
    height: 330px;
}

/* inquiry */
#inquiry{
    margin-top: 100px;
}
.iqr_inner{
    width: 1320px;
    margin: auto;
}
.iqr_inner h1{
    float: right;
}
.iqr{
    display: block;
    padding-bottom: 10px;
    position: relative;
    float: left;
    transform: translateY(-10px);
}
.iqr::after{
    position: absolute; 
    content:''; 
    display: block; 
    border-bottom: 1px solid #231f20; 
    transition: width 250ms ease-out; 
    bottom: 0;
    left: auto; 
    right: 0;  
    width: 0;
}
.iqr:hover::after{
    width: 100%; 
    left: 0; 
    right: auto;
}
.iqr_inner .exp{
    clear: both;
}
.iqr_inner dl{
    float: left;
    padding: 50px 0 100px;
    width: 25%;
    text-align: center;
    color: #21ba7e;
}
#inquiry dl dd:nth-child(2){
    font-family: 'GmarketSansBold';
    font-size: 36px;
    padding: 30px 0 25px;
}
#inquiry dl blockquote{
    text-align: left;
    padding-left: 120px;
}

/* map */
#map{
    clear: both;
}
.map_inner{
    width: 1320px;
    height: 900px;
    margin: auto;
}
#map h1{
    padding-bottom: 65px;
}
#map iframe{
    display: block;
    margin-bottom: 50px;
}
.infowrap{
    border-top: 2px solid #e7685d;
    border-bottom: 2px solid #e7685d;
    padding: 50px 0;
    overflow: hidden;
}
.info{
    float: left;
    width: 300px;
    height: 200px;
    text-align: center;
}

.info h5{
    padding: 20px 0 25px;
}
.info_transport{
    float: left; 
    width: 330px;
    height: 100px;
    box-sizing: border-box;
    padding: 18px 0;   
    margin-left: 60px;
}
.info_transport *{
    display: inline-block;
    text-align: left;
}
.bus, .bus~p{
    vertical-align: top;
}
.subway, .subway~p{
    vertical-align: top;
}
.infowrap h5{
    font-family: 'GmarketSansBold';
    font-size: 26px;
    color: #e7685d;
}
.info_transport h5{
    padding-top: 15px;
}
.info_transport p{
    padding-top: 10px;
}
.info span{
    opacity: 0;
}
.info::after{
    content: '';
    height: 120px;
    border-right: 1px dotted #e7685d;
    float: left;
    transform: translate(297.6px, -150px);
}

/* footer */
#footer{
    background-color: #5c8676;
}
.footer_inner{
    width: 1320px;
    height: 300px;
    margin: auto;
    box-sizing: border-box;
    padding: 55px 0;
}
.footlogo{
    display: block;
    float: left;
    margin-right: 65px;
}
.ftcontent{
    float: left;
    font-size: 16px;
    color: #fff;
}
.ftcontent p{
    padding-bottom: 20px;
}
.ftcontent p:nth-child(1) a{
    color: #fff;
    font-family: 'GmarketSansMedium';
    font-size: 18px;
}
.ftcontent p:nth-child(1) a:hover{
    opacity: .7;
}
.sns{
    float: right;
}
.sns a{
    display: inline-block;
    margin-left: 10px;
    opacity: .5;
}
.sns a:hover{
    opacity: 1;
}
.copyright{
    clear: both;
    height: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #293c35;
}


