

/* fixed menu */
#fixedbg1{
    width: 100%;
    height: 400px;
    background: url(../images/fixed_bg/brand_story.jpg) no-repeat top center;
    position: relative;
}
.fixedmenu{
    width: 100%;
    height: 100px;
    border-top: 1px solid #e7685d;
    border-bottom: 1px solid #e7685d;
    background-color: rgb(255 255 255 / 40%);
    position: absolute;
    bottom: 0;
}
.fxmn_wrap{
    width: 1320px;
    height: 100px;
    margin: auto;
}
.fxmn{
    float: right;
}
.fxmn li{
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 60px 0;
}
.fxmn li a{
    line-height: 0;
    color: #cdcccc;
    font-family: 'GmarketSansMedium';
}
.fxmn li a:hover, .fxmn .selected{
    color: #e7685d;
    font-family: 'GmarketSansBold';
}

.scroll{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255 / 90%);
    transition: all 1s;
    border: none;
}
.scroll a{
    color: #293c35;
}

/* overview */
#overview{
    background: url(../images/brandstory/brandstory_graphics_bg.png) no-repeat center top;
}
.ov_inner{
    width: 1320px;
    height: 930px;
    box-sizing: border-box;
    padding: 100px 0;
    margin: auto;
    position: relative;
}
    /* 타이틀(공통) */
    h1{
        font-family: 'gmarketsansbold';
        font-size: 48px;
        color: #e7685d;
        position: relative;
        padding: 20px 0 130px;
        text-transform: capitalize;
        text-align: center;
    }
    .h1shadow{
        height: 30px;
        background-color: rgb(231 104 93 / 20%);
        position: absolute;
        top: 35px;
        left: 40%;
    }
    /* 타이틀(별도) */
    #overview .ov_inner h1{
        text-align: left;
    }
    #overview .ov_inner .h1shadow{
        width: 300px;
        left: 5%;
    }
.textbox{
    float: left;
}
.ov_inner .textbox p{
    text-align: justify;
    width: 570px;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
}
.ov_inner .textbox p span{
    color: #e7685d;
    font-family: 'GmarketSansMedium';
}
.graphics{
    width: 600px;
    height: 510px;
    float: right;
    position: relative;
}
.graphics img{
    display: block;
    position: absolute;
}
.coffee{
    top: 20px;
    left: 60px;
    animation: float 2s ease-in-out infinite;
}
.cake{
    top: 80px;
    right: 0;
    animation: float 2s 1s ease-in-out infinite;
}
.canele{
    bottom: 50px;
    left: 0;
    animation: float 2s .3s ease-in-out infinite;
}
.cookie{
    bottom: 10px;
    left: 180px;
    animation: float 2s .8s ease-in-out infinite;
}
.cherry{
    bottom: 70px;
    right: 30px;
    animation: float 2s .5s ease-in-out infinite;
}
.handkerchief{
    bottom: -20px;
    left: -100px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}
.no3s{
    width: 206px;
    height: 206px;
    border-radius: 50%;
    color: #e7685d;
    font-family: 'gmarketsansbold';
    text-transform: capitalize;
    font-size: 24px;
    position: absolute;
}
.no3s p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eggs{
    bottom: 25px;
    left: 110px;
}
.dairy{
    bottom: 25px;
    left: 375px;
}
.sugar{
    bottom: 25px;
    left: 640px;
}

/* core value */
#cv{
    width: 1320px;
    overflow: hidden;
    margin: auto;
    padding: 120px 0 100px;
}

    /* 타이틀(별도) */
    #cv h1 .h1shadow{
        width: 330px;
    }

.cvimg{
    float: left;
    width: 427px;
    height: 525px;
    position: relative;
}
#cv div:nth-child(3){
    margin: 0 10px;
}
.cvtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 336px;
    height: 452px;
    box-sizing: border-box;
    padding: 45px;
    color: #fff;
    border-radius: 25px;
    background-color: rgba(63, 63, 63, 0.2);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    opacity: 0;
    transition: all 1s;
}
.cvtext h2{
    font-family: 'GmarketSansBold';
    font-size: 30px;
    padding-bottom: 5px;
}
.cvtext p{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 25px;
}
.cvimg:hover .cvtext{
    opacity: 1;
}

/* brand logo type */
#logotype{
    width: 1320px;
    overflow: hidden;
    margin: 130px auto 100px;
    clear: both;
}
    /* 타이틀(별도) */
    #logotype h1 .h1shadow{
        width: 500px;
        left: 33.8%;
    }

.mainlogo, .sublogo{
    position: relative;
    width: 100%;
}
.mainlogo img:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -421px;
    margin-top: -170px;
}
.sublogo .sublogo_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -375px;
    margin-top: -117.5px;
}
.sublogo_inner dl{
    width: 300px;
    height: 240px;
}
.sublogo_inner dl:first-child{
    float: left;
}
.sublogo_inner dl:last-child{
    float: right;
}
.sublogo_inner{
    width: 750px;
    height: 235px;
    text-align: center;
}
.sublogo_inner dt{
    display: inline-block;
    width: 60px;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 50px;
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    color: #231f20;
    border-top: 1px solid #231f20;
    border-bottom: 1px solid #231f20;
}


.motif{
    width: 1320px;
    height: 2720px;
    margin: auto;
    box-sizing: border-box;
    clear: both;
    background: url(../images/brandstory/design_motif_bg.jpg) no-repeat center top;
    background-size: 100%;
    padding: 50px;
    position: relative;
}
/* 컨텐츠 포지셔닝 */
.motif .right{
    position: absolute;
    right: 100px;
}
.motif .left{
    position: absolute;
    left: 100px;
}
    /* 그림 포지셔닝 */
    .glass{
        top: 100px;
    }
    .slice{
        top: 900px;
    }
    .motif .muffin{
        left: 230px;
        bottom: 800px;
    }
    .stand{
        bottom: 100px;
    }

    /* 글자 디자인&포지셔닝 */
    .exp{
        width: 480px;
        height: 220px;
        position: absolute;
    }
    .exp.left{
        text-align: right;
    }
    .exp .num{
        font-family: 'GmarketSansBold';
        font-size: 72px;
        opacity: .6;
    }
    .exp .bold{
        font-family: 'GmarketSansBold';
        font-size: 24px;
    }
    .exp.right .bold{
        padding: 0 0 50px 30px;
    }
    .exp.left .bold{
        padding: 0 30px 50px 0;
    }
    .exp .bold span{
        font-size: 48px;
    }
    .exp .korean{
        font-size: 48px;
    }
    .exp .hw{
        font-family: "Creattion Demo";
        font-size: 60px;
        opacity: .3;
    }
    .exp.right .hw{
        padding-left: 200px;
    }
    .exp.left .hw{
        padding-right: 200px;
    }
    .exp.red{
        top: 550px;
        left: 630px;
        color: #e7685d;
    }
    .exp.brown{
        top: 1050px;
        left: 0;
        color: #8b5e3c;
    }
    .exp.mint{
        bottom: 800px;
        right: 80px;
        color: #58a385;
    }
    .exp.lightbrown{
        bottom: 220px;
        left: 0;
        color: #c49a6c;
    }

    /* 테이프 이미지 포지셔닝 */
    .tape1{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .tape2{
        position: absolute;
        top: 840px;
        left: 500px;
    }
    .tape3{
        position: absolute;
        bottom: 1350px;
        left: 370px;
        transform: rotate(-45deg);
    }
    .tape4{
        position: absolute;
        bottom: 1330px;
        right: 40px;
    }
    .tape5{
        position: absolute;
        bottom: 700px;
        right: 280px;
    }

/* 컨텐츠 호버 */
.motif_hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}
.photo:hover .motif_hover{
    opacity: 1;
}

/* brand color */
#bcolor{
    width: 1320px;
    margin: 200px auto 0;
}
    /* 타이틀(별도) */
    #bcolor h1 .h1shadow{
        width: 360px;
        left: 38.8%;
    }

/* 메인컬러 */
.maincolor{
    width: 750px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.mc.sticker{
    width: 316px;
    height: 315px;
    border-radius: 50%;
    float: left;
}
.mc .sticker-img {
    background-color: #8b5e3c;
}
.mc{
    background: url(../images/brandstory/brand_color_chocolate.png) no-repeat center top;
}
.sticker .sticker-shadow {
    opacity: 0.6;
}
.mc_dd{
    float: right;
    padding: 80px 0;
    font-size: 30px;
}
.mc1p{
    font-family: 'GmarketSansBold';
    color: #8b5e3c;
}
.mc_cursive{
    font-family: 'Dawning of a New Day', cursive;
    padding-bottom: 50px;
}

/* 서브컬러 */
    /* 공통 */
    .subcolor{
        width: 100%;
        margin: 100px 0;
        display: flex;
        justify-content: space-between;
    }
    .subcolor dt{
        padding-bottom: 30px;
    }
    .subcolor dd{
        font-size: 30px;
        text-align: center;
    }
    .subcolor dd p:nth-child(1){
        font-family: 'GmarketSansBold';
    }
    .subcolor dd p:nth-child(2){
        padding: 10px 0 30px;
    }
    .subcolor dd p:nth-child(3){
        font-size: 18px;
    }
    .sticker{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .sticker, .sticker-img{
        cursor: grab;
    }
    .sc_cursive{
        font-family: 'Dawning of a New Day', cursive;
    }

    /* 개별 */
    .sc1{
        background: url(../images/brandstory/brand_color_vanilla.png) no-repeat center top;
    }
    .sc1 .sticker-img{
        background-color: #efeadb;
    }
    .sc1p{
        color: #efeadb;
        -webkit-text-stroke: 1px #8b5e3c;
    }

    .sc2{
        background: url(../images/brandstory/brand_color_latte.png) no-repeat center top;
    }
    .sc2 .sticker-img{
        background-color: #c49a6c;
    }
    .sc2p{
        color: #c49a6c;
    }

    .sc3{
        background: url(../images/brandstory/brand_color_sorbet.png) no-repeat center top;
    }
    .sc3 .sticker-img{
        background-color: #e7685d;
    }
    .sc3p{
        color: #e7685d;
    }

    .sc4{
        background: url(../images/brandstory/brand_color_mint.png) no-repeat center top;
    }
    .sc4 .sticker-img{
        background-color: #8dceb5;
    }
    .sc4p{
        color: #8dceb5;
    }

/* 그래픽 */
#graphics{
    width: 1320px;
    margin: 250px auto 100px;
}
#graphics .h1shadow{
    width: 500px;
    left: 35%;
}
#graphics h3{
    margin: 30px auto;
    color: #fff;
    font-family: 'GmarketSansBold';
    font-size: 30px;
    width: 347px;
    height: 81px;
    background: url(../images/graphics/title.png) no-repeat center top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_grp{
    position: relative;
    height: 600px;
}
.main_grp img{
    display: block;
}
.main_grp img:nth-child(1){
    position: absolute;
    top: 50px;
    left: 0;
    animation: float 2s ease-in-out infinite;
}
.main_grp img:nth-child(2){
    position: absolute;
    top: 50px;
    left: 310px;
    animation: float 2s ease-in-out 1s infinite;
}
.main_grp img:nth-child(3){
    position: absolute;
    top: 250px;
    left: 600px;
    animation: float 2s ease-in-out .5s infinite;
}
.main_grp img:nth-child(4){
    position: absolute;
    top: 100px;
    right: 350px;
    animation: float 2s ease-in-out .8s infinite;
}
.main_grp img:nth-child(5){
    position: absolute;
    top: 150px;
    right:200px;
    animation: float 2s ease-in-out 1s infinite;
}
.main_grp img:nth-child(6){
    position: absolute;
    bottom: 220px;
    right: 0;
    animation: float 2s ease-in-out infinite;
}
.sub_grp div{
    float: left;
    margin: 50px 5px 100px;
}
.sub_grp div p{
    text-align: right;
    color: #e7685d;
}

/* top버튼 */
.top{
    padding: 20px;
    font-size: 14px;
    border-radius: 50%;
    position:fixed; 
    bottom: 100px; 
    right:50px; 
    display:none;
    background-color: rgba(139, 94, 60, 0.8);
    color: #fff;
    font-family: 'GmarketSansMedium';
    z-index: 10;
  }