@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #231f20;
}
body{
    font-family: 'GmarketSansLight', 'GmarketSansMedium', 'GmarketSansBold', 'Dawning of a New Day';
    font-size: 18px;
    line-height: 150%;
    background: url(../images/leaf_bg.png) no-repeat right 1000px;
}

/* header */
#header{
    background: url(../images/header.jpg);
    width: 100%;
    height: 120px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    position: relative;
    z-index: 99;
}
.header_inner{
    width: 1320px;
    height: 100%;
    margin: auto;
}

.logo{
    float: left;
    margin: 20px 60px 0px 0;
}
.nav{
    float: left;
    width: 50%;
    height: 100%;
}
.nav> li{
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 35px;
}
.nav> li> a{
    display: block;
    font-family: 'GmarketSansMedium';
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
}
.nav> li> a:hover{
    color: #fff;
    background: url(../images/menu_hover_tag.png) no-repeat;
    background-position: center top -1px;
    background-size: contain;
}
.link{
    float: right;
    margin-top: 50px;
}
.link li{
    float: left;
    margin-left: 15px;
    position: relative;
}
.link img{
    width: 60%;
}
.link_hover{
    display: none;
}
.link li a:hover .link_hover{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.sub{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(../images/sub_bg.png) no-repeat 90% 30px;
    background-size: 15%;
    background-color: #3c241593;
    box-sizing: border-box;
    padding: 50px 0;
    display: none;
}
.sub_inner{
    width: 1050px;
    margin: auto;
}
.sub_menu{
    float: left;
    margin-right: 60px;
}
.sub_menu li a{
    display: block;
    padding-bottom: 20px;
    color: #fff;
}
.sub_menu li a:hover{
    font-family: 'GmarketSansMedium';
}

/* order page */
#fixedbg1{
    width: 100%;
    height: 400px;
    background: url(../images/fixed_bg/order_premade.jpg) no-repeat center top;
    position: relative;
}
.fixedmenu{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    border-top: 1px solid #30846f;
    border-bottom: 1px solid #30846f;
    position: absolute;
    bottom: 0;
}
.fxmn_wrap{
    width: 1320px;
    height: 100px;
    margin: auto;
}
.fxmn{
    float: right;
}
.fxmn li{
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 60px 0;
}
.fxmn li a{
    line-height: 0;
    color: #a5a5a5;
    font-family: 'GmarketSansMedium';
}
.fxmn li a:hover, .fxmn .selected{
    color: #30846f;
    font-family: 'GmarketSansBold';
}

.scroll{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255 / 90%);
    box-shadow: 0 3px 3px rgb(#30846f / 10%);
    transition: all 1s;
    border: none;
}
.scroll a{
    color: #293c35;
}

/* filter */
.filterbg{
    background-color: #f7f7f7;
}
.filter_inner{
    width: 1320px;
    height: 100px;
    margin: auto;
    display: table; 
}
.filter_inner ul{
    height: 100%;
    display: flex;
    align-items: center; 
}
.filter_inner ul a{
    display: block;
    margin-right: 80px;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    color: #231f20;
    position: relative;
}

.filter li a::after{
    position: absolute; 
    content:''; 
    display: block; 
    border-bottom: 2px solid #e7685d; 
    transition: width 250ms ease-out; 
    bottom: 0;
    left: auto; 
    right: 0;  
    width: 0;
}
.filter li a:hover, .filter .active a{
    color: #e7685d;
}
.filter li a:hover::after, .filter .active a::after{
    width: 100%; 
    left: 0; 
    right: auto;
}

/* best */
#orderbest{
    width: 1320px;
    margin: 100px auto;
}
h2{
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    padding: 25px 0;
    border-bottom: 1px solid #30846f;
    margin-bottom: 70px;
}
.slick-slide div .slick-list{
    border-radius: 0 0 180px 180px;
    box-shadow: 8px 8px 8px rgb(0 0 0 / 20%);
    overflow: hidden;
}
.slick-list img{
    transition: all .5s;
}
.slick-list a:hover img{
    transform: scale(1.1);
}

/* filter contents */
.filter1, .filter2, .filter3{
    display: none;
}
.filter_contents{
    width: 1320px;
    overflow: hidden;
    padding-bottom: 200px;
    margin: 0 auto 150px;
}
.cakelist li img{
    display: block;
}
.cakelist li{
    float: left;
    margin: 30px 9px;
    position: relative;
}
.cakelist li:nth-child(4n+1), .cakeinfo li:nth-child(4n+1){
    margin-left: 0;
}
.cakelist li:nth-child(4n), .cakeinfo li:nth-child(4n){
    margin-right: 0;
}
.clist-hover{
    width: 316px;
    height: 316px;
    border-radius: 20px;
    background-color: #231f20c2;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s;
}
.clist-hover{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clist-hover p{
    text-align: center;
}
.clist-hover span{
    display: block;
    font-family: 'GmarketSansMedium';
    font-size: 30px;
    padding-top: 10px;
}
.cakelist li a:hover .clist-hover{
    opacity: 1;
}
.filter0btn, .filter1btn{
    position: relative;
    clear: both;
}
.filter0btn ul, .filter1btn ul{
    overflow: hidden;
}
.filter0btn summary, .filter1btn summary{
    width: 1318px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #41bc8b;
    position: absolute;
    bottom: -100px;
    left: 0;
}
.filter0btn summary::marker, .filter1btn summary::marker{
    content: '';
}
.filter0btn summary::after, .filter1btn summary::after{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    color: #41bc8b;
    content: '더보기';
    background: url(../images/order/arrow-show.png) no-repeat 54% 55%;
}
.filter0btn[open] summary::after, .filter1btn[open] summary::after{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    color: #41bc8b;
    content: '숨기기';
    background: url(../images/order/arrow-hide.png) no-repeat 54% 55%;
}
.filter0btn:hover summary, .filter1btn:hover summary{
    background-color: #41bc8b15;
}

/* {
    width: 1320px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #41bc8b;
    color: #41bc8b;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}
{
    cursor: pointer;
} */

/* footer */
#footer{
    background-color: #5c8676;
}
.footer_inner{
    width: 1320px;
    height: 300px;
    margin: auto;
    box-sizing: border-box;
    padding: 55px 0;
}
.footlogo{
    display: block;
    float: left;
    margin-right: 65px;
}
.ftcontent{
    float: left;
    font-size: 16px;
    color: #fff;
}
.ftcontent p{
    padding-bottom: 20px;
}
.ftcontent p:nth-child(1) a{
    color: #fff;
    font-family: 'GmarketSansMedium';
    font-size: 18px;
}
.ftcontent p:nth-child(1) a:hover{
    opacity: .7;
}
.sns{
    float: right;
}
.sns a{
    display: inline-block;
    margin-left: 10px;
    opacity: .5;
}
.sns a:hover{
    opacity: 1;
}
.copyright{
    clear: both;
    height: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #293c35;
}

/* top버튼 */
.top{
    padding: 20px;
    font-size: 14px;
    border-radius: 50%;
    position:fixed; 
    bottom: 100px; 
    right:50px; 
    display:none;
    background-color: rgba(139, 94, 60, 0.8);
    color: #fff;
    font-family: 'GmarketSansMedium';
    z-index: 10;
  }